<template>
  <div class="about">
    <section>
      <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit similique, eius dolorum est ab esse dolore numquam in! Quis perspiciatis voluptatem, temporibus minima delectus consequuntur quidem a tempora aut animi.</p>
        <h3>Powered by &copy; Crypto Police</h3>
      </article>
    </section>
  </div>
</template>
