<template>
  <div class="home">
    <h2>Check the website you want</h2>
    <p class="main-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde voluptas assumenda cupiditate, nostrum voluptatum aliquam itaque accusamus amet corrupti eos magni sint hic nihil similique culpa, inventore ipsum laborum tenetur?</p>
    <button class="get-api" @click="showContent">GET API REQUEST</button>
    
      <div class="get-content" v-show="check" v-if="responsecolor && responsedate">
        <ul>
          <li>Website color : {{responsecolor}}</li>
          <li>Website live date : {{responsedate}}</li>
          <li>{{currenturl}}</li>
        </ul>
      </div>
    <button v-show="check" class="clear-content" v-on:click="clearContent" v-if="responsecolor && responsedate">Clear Data</button>
    <div class="submit-websites-cta">
    <input type="text" v-model="websiteItem" style="display:block;">
    <button @click="commitData" class="submit-websites">Save your future website</button>
    </div>
  </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import store from '../store'
window.store = store;
export default {
  store,
  data(){
    return {
      abc: ['a','b'],
      check: false,
      websiteItem: '',
      websiteItems: [],
      windowUrl: '',
      responsedate: '',
      responsecolor: '',
      currenturl : ''
    };
  },

  mounted(){
    this.check = false;
    this.$store.getters.websiteItems.forEach(element => {
            this.websiteItems.push(element)
        });
     

  },

  methods: {
    showContent(){
      this.getCurrentUrl();
      // var url = this.windowUrl;
      var obj = {
        // "domain": this.windowUrl
      }
      this.$http.post(`https://watchdog-api.cryptopolice.com/api/verify?domain=${this.currenturl}`).then(function(data){
        console.log(data);
        if(data.body.response!==null){
        this.responsedate = data.body.response
        this.responsecolor = data.body.response
        }else{
          alert('No data could be found!')
        }
 

      })
      this.check = true;
    },

    getCurrentUrl(){
      chrome.storage.local.get('currentUrl' ,function(data){
        this.currenturl = data.currentUrl
        console.log(this.currenturl)
      })
    },

    clearContent(){
      this.check = false;
      this.responsecolor = '',
      this.responsedate = ''
    },

    commitData(){
      this.websiteItems.push(this.websiteItem)
      this.websiteItem = ''
      store.commit('saveWebsiteItems',{
        websiteItems: this.$data.websiteItems
      })
    }
  },

  computed : {
    getWindowUrl : function(){
      this.windowUrl = window.location.href;
    }
  }
}
</script>

<style scoped>

.submit-websites{
      border: none;
    font-size: 12px;
    background: black;
    color: #fff;
    border-radius: 9px;
    padding: 7px;
    font-family: inherit;
}

.submit-websites:active{
  outline: none;
}

.submit-websites-cta{
  display: flex;
    justify-content: space-around;
    margin: 30px 0;
    background: cadetblue;
    padding: 30px 0;
}

.get-content{
  max-height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:  0;
  border: 1px solid #dedede;
  margin: 10px 0;
}

.get-content ul {
  list-style: none;
  padding: 0;
}

.get-content li {
  padding: 10px 0;
}

.get-api{
    padding: 13px;
    border: none;
    border-radius: 20px;
    background: cadetblue;
    color: #fff;
    outline: none;
}

.clear-content{
    padding: 5px;
    border: none;
    background: darkslategrey;
    color: #fff;
    font-family: inherit;
    border-radius: 8px;
    outline: none;
}


</style>

