<template>
    <section>
        <h3>List your future websites to check here!</h3>
        <h5 v-if="this.websites.length===0">Right now you dont have any save websites... :(</h5>
        <ul>
            <li v-for="website in this.websites">
                {{website}}
            </li>
        </ul>
    </section>
</template>
<script>
import store from '../store'
window.store = store;
export default {
    store,
    data(){
        return {
            websites: []
        }
    },

    mounted() {
        this.$store.getters.websiteItems.forEach(element => {
            this.websites.push(element)
        });
    }
}
</script>
<style scoped>
ul{
    list-style: none;
    margin: 0;
    padding: 0
}

ul li{
    margin: 10px 0;
    border: 1px solid #dedede;
    padding: 10px;
}
</style>


