<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> 
      <router-link to="/about">About</router-link>
      <router-link to="/websites">Websites</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  box-sizing: border-box;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  width: 500px;
}
#nav {
  display: flex;
  padding: 30px 0;
  justify-content: space-evenly;
  background: #2c3e50;
  width: 100%;
}

#nav a {
  font-weight: bold;
  color: #9ccf4a;
  text-decoration: none;
}

#nav a.router-link-exact-active {
  color: #fff;
}



</style>
